# Main

In [36]:
import pandas as pd
import numpy as np
from scipy import stats

# Load Data

In [3]:
path_to_file = "/Users/brinkley97/Documents/development/lab-information_sciences_institute/datasets/tiles_dataset/"
name_of_file = "nurse_data.csv"
file = path_to_file + name_of_file

In [4]:
def load_data(file):
    original_data = pd.read_csv(file)
    # original_data = pd.DataFrame(file)
    copy_of_data = original_data.copy()
    return copy_of_data

In [22]:
nurse_df = load_data(file)
nurse_df

,MitreID,participant_id,abs,vocab,gats_Status,gats_Quantity,gats_Quantity_Sub,audit,psqi,ipaq,...,SmartPhone,Gender,Shift,Wave,DropoutDate,Age,Educ,job,native_lang,PSQI
0,SG1025,02581754-36cd-4b23-85ea-bf995c6dec83,15,29,current,6.0,6.0,7.0,7.0,26308.0,...,iPhone,Male,Night shift,2,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
1,SD1003,02b7a595-6508-46bd-8239-6deb433d6290,17,35,never,0.0,NaN,1.0,7.0,9522.0,...,Android,Female,Day shift,1,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
2,SG1033,05dedb61-63bc-44e3-8e28-a5d32d91f7e9,20,40,past,0.0,NaN,1.0,9.0,943.0,...,iPhone,Male,Night shift,2,NaN,>= 40 Years,Some college or College,nurse,No,PSQI >= 7
3,SG1005,06b33ec4-706d-462f-a681-05491be38eb3,16,31,never,0.0,NaN,1.0,4.0,5682.0,...,Android,Male,Night shift,1,NaN,>= 40 Years,Graduate,nurse,No,PSQI < 7
4,SY1004,0adb7679-9d26-46e7-a134-11da293910f3,15,36,never,0.0,NaN,0.0,4.0,8533.0,...,Android,Male,Day shift,1,NaN,>= 40 Years,Some college or College,nurse,Yes,PSQI < 7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,SD1068,f610ffea-f6cb-4182-bbe7-19ff8fbe66ee,20,33,never,0.0,NaN,1.0,10.0,3145.5,...,iPhone,Female,Day shift,2,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
109,SD1099,f732e878-e538-49b8-97d3-49ca29e9a3f8,13,33,never,0.0,NaN,1.0,5.0,6475.5,...,iPhone,Female,Day shift,3,NaN,>= 40 Years,Some college or College,nurse,No,PSQI < 7
110,SD1129,fabef151-53c8-4a46-9897-0180868a53f5,14,33,past,0.0,NaN,1.0,7.0,15100.5,...,Android,Male,Day shift,3,NaN,>= 40 Years,Some college or College,nurse,No,PSQI >= 7
111,SY1006,fae38580-1e2d-4491-9de5-7b75703ba4ce,15,35,never,0.0,NaN,5.0,9.0,15908.0,...,Android,Male,Day shift,1,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
112,SD1015,fcb14a4c-1ffa-4315-872a-a38833459885,17,30,never,0.0,NaN,0.0,4.0,NaN,...,iPhone,Female,Day shift,1,NaN,>= 40 Years,Some college or College,nurse,Yes,PSQI < 7

In [28]:
day_shift = nurse_df['Shift'] == 'Day shift'
day_df = nurse_df.loc[day_shift]
day_df.head(5)

,MitreID,participant_id,abs,vocab,gats_Status,gats_Quantity,gats_Quantity_Sub,audit,psqi,ipaq,...,SmartPhone,Gender,Shift,Wave,DropoutDate,Age,Educ,job,native_lang,PSQI
1,SD1003,02b7a595-6508-46bd-8239-6deb433d6290,17,35,never,0.0,NaN,1.0,7.0,9522.0,...,Android,Female,Day shift,1,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
4,SY1004,0adb7679-9d26-46e7-a134-11da293910f3,15,36,never,0.0,NaN,0.0,4.0,8533.0,...,Android,Male,Day shift,1,NaN,>= 40 Years,Some college or College,nurse,Yes,PSQI < 7
5,SD1084,0bf54591-e0ac-47ba-9b43-31ff54dfcee8,16,23,never,0.0,NaN,0.0,6.0,10263.0,...,iPhone,Female,Day shift,2,NaN,< 40 Years,Some college or College,nurse,No,PSQI < 7
7,SD1072,0e615090-ca26-4635-9590-f6e6cde1094f,17,35,never,0.0,NaN,4.0,9.0,25584.0,...,iPhone,Female,Day shift,2,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
9,SD1002,0ec84778-1a98-4cd7-aa11-05997ddadd52,12,32,never,0.0,NaN,1.0,6.0,17880.0,...,iPhone,Female,Day shift,1,NaN,>= 40 Years,Some college or College,nurse,No,PSQI < 7

In [30]:
night_shift = nurse_df['Shift'] == 'Night shift'
night_df = nurse_df.loc[night_shift]
night_df.head(5)

,MitreID,participant_id,abs,vocab,gats_Status,gats_Quantity,gats_Quantity_Sub,audit,psqi,ipaq,...,SmartPhone,Gender,Shift,Wave,DropoutDate,Age,Educ,job,native_lang,PSQI
0,SG1025,02581754-36cd-4b23-85ea-bf995c6dec83,15,29,current,6.0,6.0,7.0,7.0,26308.0,...,iPhone,Male,Night shift,2,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
2,SG1033,05dedb61-63bc-44e3-8e28-a5d32d91f7e9,20,40,past,0.0,NaN,1.0,9.0,943.0,...,iPhone,Male,Night shift,2,NaN,>= 40 Years,Some college or College,nurse,No,PSQI >= 7
3,SG1005,06b33ec4-706d-462f-a681-05491be38eb3,16,31,never,0.0,NaN,1.0,4.0,5682.0,...,Android,Male,Night shift,1,NaN,>= 40 Years,Graduate,nurse,No,PSQI < 7
6,SG1018,0e33f78a-7064-44ff-a8a4-711f99113d39,13,29,never,0.0,NaN,0.0,7.0,9252.0,...,iPhone,Female,Night shift,2,NaN,>= 40 Years,Some college or College,nurse,No,PSQI >= 7
8,SG1029,0ebe238f-34a9-47f5-a04b-5b059e45e4a5,18,30,never,0.0,NaN,1.0,7.0,10620.0,...,Android,Female,Night shift,2,NaN,>= 40 Years,Some college or College,nurse,No,PSQI >= 7

# Load Generated Specific Questions

In [7]:
path_to_questions = "/Users/brinkley97/Documents/development/lab-information_sciences_institute/datasets/tiles_dataset/"
name_of_questions = "generateSpecificQuestions.ipynb"
questions = path_to_questions + name_of_questions

In [8]:
# %load questions
/Users/brinkley97/Documents/development/lab-information_sciences_institute/datasets/tiles_dataset/generateSpecificQuestions.ipynb

In [10]:
%run "generateSpecificQuestions.ipynb"

group_1  ::  day-shift
group_2  ::  night-shift
demographic  ::  {'Gender': ['Female', 'Male'], 'Age': ['< 40 Years', '>= 40 Years'], 'Educ': ['Some college or College', 'Graduate'], 'native_lang': ['English', 'non-english']}
behavioral  ::  ['sleep quality (PSQI)', 'affect (PANAS)', 'anxiety (STAI)', 'life satisfaction (SWLS)', 'personality (BFI-2)']
physiological  ::  ['step count', 'heart rate', 'sleep', 'average rest-activity ratio', 'average walk activity ratio', 'average vigorous activity duration']
demo_vars :  [['Gender', 'Age', 'Educ', 'native_lang'], ['Female', 'Male', '< 40 Years', '>= 40 Years', 'Some college or College', 'Graduate', 'English', 'non-english']]

In [16]:
demo_specific_questions = list(t_test_questions.values())[0]
demo_specific_questions

['what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Gender* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Age* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Educ* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *native_lang* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Female* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Male* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *< 40 Years* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *>= 40 Years* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Some college or College* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Graduate* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *English* ?',
 'what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *non-english* ?']

# Run analysis

## Fisher Odds Test - Table 1

In [17]:
def fisher_odds_p_value(first_df, second_df, demo, demo_option1, demo_option2, print_col):
    tabel_df = pd.DataFrame(index=['day', 'night'], columns=[demo_option1, demo_option2])
    tabel_df.loc['day', demo_option1] = len(first_df.loc[first_df[demo] == demo_option1])
    tabel_df.loc['day', demo_option2] = len(first_df.loc[first_df[demo] == demo_option2])
    tabel_df.loc['night', demo_option1] = len(second_df.loc[second_df[demo] == demo_option1])
    tabel_df.loc['night', demo_option2] = len(second_df.loc[second_df[demo] == demo_option2])
    oddsratio, pvalue = stats.fisher_exact(np.array(tabel_df))
    print(tabel_df)
    # print()
    
    return 'oddsratio : %.3f, pvalue: %.3f \n' % (oddsratio, pvalue)

In [47]:
def analysis_on_table_one(demo_specific_questions):
    key_words = []

    for demo_specific_question in demo_specific_questions:
        print(demo_specific_question)
        demos = list(key_words_in_study["demographic"])
        # print(demos)
        demo_values = list(key_words_in_study.values())[2]
        # print("demo_values : ", demo_values)
        for demo in demos:
            # print(demo)
            if demo in demo_specific_question.split("*"):
                # print(demo, True)
                demo_option1 = demo_values[demo][0]
                # print("demo_option1 : ", demo_option1)
                demo_option2 = demo_values[demo][1]
                # print("demo_option2 : ", demo_option2)
                p_value = fisher_odds_p_value(day_df, night_df, demo=demo, demo_option1=demo_option1, demo_option2=demo_option2, print_col=demo)
                print(p_value)
            else:
                continue
        print("")
    return

In [48]:
analysis_on_table_one(demo_specific_questions)

what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Gender* ?
      Female Male
day       51   18
night     31   13
oddsratio : 1.188, pvalue: 0.829


what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Age* ?
      < 40 Years >= 40 Years
day           40          29
night         32          12
oddsratio : 0.517, pvalue: 0.160


what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Educ* ?
      Some college or College Graduate
day                        59       10
night                      33       11
oddsratio : 1.967, pvalue: 0.215


what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *native_lang* ?
      English non-english
day         0           0
night       0           0
oddsratio : nan, pvalue: 1.000


what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Female* ?

what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Male* ?

what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *< 40 Years* ?

what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *>= 40 Years* ?

what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Some college or College* ?

what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *Graduate* ?

what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *English* ?

what are differences in primarily *day-shift* nurses and primarily *night-shift* nurses for *non-english* ?